$primary-color: #333;
$calculator-bg: #3C586D;
$num-btn: #8995A5;
$red-btn: #ba5658;
$screen: #B6D1C2;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calculator {
  background-color: $calculator-bg;
  height: auto;
  margin: 50px auto 0 auto;
  width: 407px;
  font-size: 300%;
  padding: 10px;
  border-radius: 10px;
  .button {
    background-color: $num-btn;
    border: 1px solid #6b587a;
    color: white;
    height: 70px;
    width: 70px;
    margin: 2px;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 70px;
    border-radius: 10px 10px 30px 30px;
    -moz-border-radius: 10px 10px 30px 30px;
    -webkit-border-radius: 10px 10px 30px 30px;
  }
  .screen {
    width: 100%;
    height: 130px;
    background-color: $screen;
    padding: 10px;
    font-size: 200%;
    margin-bottom: 10px; 
    #anwser {
      float: right;
    }
  }
  .button-container {
    // border: 1px solid red;
    overflow: hidden;
    width: 224px;
    display: inline-block;
  }
  .math-operation-container {
    // border: 1px solid blue;
    width: 150px;
    height: auto;
    float: right;
    .lg-btn {
      width: 144px;
    }
    .ac {
      background-color: $red-btn;
    }
    .math-o {
      background-color: #576573;
    }
  }
}
